@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model KullaniciDTO

<div class="container mt-5 px-5">
    <h1 class="text-center mx-auto mb-5 text-success" style="margin-top:10%;">Kullanıcı Girişi</h1>
   
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="row mx-auto">
            <div class="col-12">
                <div class="mb-3 col-6 mx-auto">
                    <label for="Email" class="form-label">Email address</label>
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-text form-control", @type = "email" })
                </div>
            </div>

            <div class="col-12">
                <div class="mb-3 col-6 mx-auto">
                    <label for="Password" class="form-label">Password</label>
                    @Html.TextBoxFor(a => a.Sifre, new { @class = "form-text form-control", @type = "text" })
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <input type="submit" name="name" value="Giriş Yap" class="btn btn-outline-success col-2 mt-3 mx-auto" />
                </div>
            </div>
        </div>
        }
  
</div>


